#resume h1 
{
	text-align: center;
	font-family: "League-Gothic", Courier;
	font-size: 10em; text-transform: uppercase;
	color: #808080;
	text-shadow: 5px 5px 0px #eee, 7px 7px 0px #808080;
}

#resume h2
{
	text-align: center;
	font-family: "League-Gothic", Courier;
	font-size:5em;
	color: #707070
}